<!DOCTYPE html>
<html>
{{template "header"}}
<body data-spy="scroll" data-target=".navMenuCollapse">

<div id="page-block">

    {{template "menu"}}
    <section id="blog" class=" blog-block text-center">
        <div class="container">
            <h2>Blog</h2>
            <h4 class="sub-title">News &amp; Updates</h4>
            <p class="sep-bottom">In our work we try to use only the most modern, convenient and interesting solutions.<br>We want the template you downloaded look unique and new for such a long time as it is possible.</p>
            <ul class="time-line">
                <li>
                    <div class="post">
                        <div class="post-media">
                            <a href="#"><img src="images/post.jpg" alt="Resolving the issue with synchronization in old version" class="img-responsive"></a>
                        </div>
                        <div class="post-content">
                            <h4 class="title"><a href="#">Credibly productize best-of-breed partnerships vis-a-vis client-centric meta-services.</a></h4>
                            <div class="post-desc">Seamlessly integrate superior e-commerce without interactive systems. Professionally incubate mission-critical architectures rather than long-term high-impact customer service<a href="#" class="read-more" title="read more">•••</a></div>
                            <div class="post-info">
                                <div class="date"><i class="icon icon-clock"></i>16-07-2014</div>
                                <div class="author"><i class="icon icon-user"></i>Steve Job</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="invert">
                    <div class="post">
                        <div class="post-media">
                            <a href="#"><img src="images/post.jpg" alt="Resolving the issue with synchronization in old version" class="img-responsive"></a>
                        </div>
                        <div class="post-content">
                            <h4 class="title"><a href="#">Credibly productize best-of-breed partnerships vis-a-vis client-centric meta-services.</a></h4>
                            <div class="post-desc">Seamlessly integrate superior e-commerce without interactive systems. Professionally incubate mission-critical architectures rather than long-term high-impact customer service<a href="#" class="read-more" title="read more">•••</a></div>
                            <div class="post-info">
                                <div class="date"><i class="icon icon-clock"></i>16-07-2014</div>
                                <div class="author"><i class="icon icon-user"></i>Steve Job</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="post">
                        <div class="post-content">
                            <h4 class="title"><a href="#">Credibly productize best-of-breed partnerships vis-a-vis client-centric meta-services.</a></h4>
                            <div class="post-desc">Seamlessly integrate superior e-commerce without interactive systems. Professionally incubate mission-critical architectures rather than long-term high-impact customer service<a href="#" class="read-more" title="read more">•••</a></div>
                            <div class="post-info">
                                <div class="date"><i class="icon icon-clock"></i>16-07-2014</div>
                                <div class="author"><i class="icon icon-user"></i>Steve Job</div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="invert">
                    <div class="post">
                        <div class="post-content">
                            <h4 class="title"><a href="#">Credibly productize best-of-breed partnerships vis-a-vis client-centric meta-services.</a></h4>
                            <div class="post-desc">Seamlessly integrate superior e-commerce without interactive systems. Professionally incubate mission-critical architectures rather than long-term high-impact customer service<a href="#" class="read-more" title="read more">•••</a></div>
                            <div class="post-info">
                                <div class="date"><i class="icon icon-clock"></i>16-07-2014</div>
                                <div class="author"><i class="icon icon-user"></i>Steve Job</div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <a href="#" class="btn btn-default btn-lg"> Oldest news </a>
        </div>
    </section><
    {{template "footer"}}

</div>
{{template "script".}}
</body>
</html>