 <header id="intro" class="intro-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="slogan">
                        <h1>Speed up everything</h1>

                        <h3 ><b>Host your applications on Klouds</b></h3>

                        <p>
                        Klouds provides infrastructure for providing low cost hosting and monetization for open source applications and developers.<br><br>
                        Klouds provides hosting for:<br>
                        <ul style="padding-left:4em;">
                            <li> <strong>Web applications</strong><small> Blogs, CRMs, Project Management Tools, Collaborative Creation, and much more!</small> </li>
                            <li><strong>Internet Servers</strong><small> Bitcoin wallets, TOR nodes, Databases (MySQL, Postgres, Mongo), Blockchain full nodes, Bitcoin Miners, and much more!</small>
                            <li><strong> Game Servers</strong><small> Minecraft, TF2, Counter-strike, Day of Defeat, Starmade, and much more!
                        </ul><br>
                        Your wanted application not listed? <a href="/contact-us" target="_blank" style="color:blue;">Tell us about it</a> and we can probably support it! </small>
                        </p>
                        <p>
                            Klouds supports its developers!<br><br>
                            Here is a brief overview of what we offer developers: <br>
                            <ul style="padding-left:4em;">
                                <li> <strong>Easy Application Hosting</strong><small> We offer developers the ability to offer hosted deployments of applications on our platform and immediately provide value to users without the need to develop their own infrastructure</small> </li>
                                <li><strong>Easy Monetization</strong><small> Once hosted on our platform, application developers can sign up to receive a significant portion of all revenue generated by paid subscriptions of their applications.</small>
                                <li><strong> Gain Feedback</strong><small> With a built-in review and user feedback system, application developers can gain immediate feedback on the useability and likeability of their applications.
                            </ul><br>
                            Want to know more? <a href="/contact-us" target="_blank" style="color:blue;">Ask us</a> how we can help you gain users and monetize your applications!
                        </p>
                    </div>
                    <a class="btn btn-lg  smooth" href="/user/login"> <i class="icon icon-badge"></i>Login</a>
                    <a class="btn btn-lg btn-register smooth" href="/user/register"> <i class="icon icon-clock"></i>Free
                        trial</a>
                </div>
            </div>
        </div>
        <div class="container-half container-half-right contain-bg"
             style="background-image: url(images/intro-screen-server.png);"></div>
    </header>
    <!-- FEATURES BLOCK -->
    <section id="features" class="features-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="item-list-left">
                        <li>
                            <i class="icon icon-mobile"></i>

                            <h3>Good Infrastructure</h3>

                            <p>Leverage the power of containerization and automation to serve your application to more people.</p>
                        </li>
                        <li>
                            <i class="icon icon-tools"></i>

                            <h3>Free for Developers </h3>

                            <p>Host your applications for free. Developers are encouraged to host their application on our platform by having a no-barrier approach.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="item-list-left">
                        <li>
                            <i class="icon icon-lightbulb"></i>

                            <h3>Pure &amp; Simple</h3>

                            <p>Easy to start. Easy to use. Easy to maintain.</p>
                        </li>
                        <li>
                            <i class="icon icon-document"></i>

                            <h3>Documentation</h3>

                            <p>A full documentation suite will be provided to allow developers and users to fully utilize the full power of our platform.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="item-list-left">
                        <!--<li>
                            <i class="icon icon-paintbrush"></i>

                            <h3>Color Schemes</h3>

                            <p>The set of ready made CSS files with different color schemes will help you in quick
                                landing’s adaptation according to your benchmark style.</p>
                        </li>-->
                        <li>
                            <i class="icon icon-layers2"></i>

                            <h3>Multiplatform</h3>

                            <p>Inheritely multiplatform. Serve your applications to anyone, anywhere.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- VIDEO BLOCK -->
    <section id="video-block" class="video-block">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>How to Use</h2>
                    <h4 class="title">Hosting an application</h4>
                    <p>How to launch and access your application through Klouds</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe type="text/html" class="embed-responsive-item" allowfullscreen=""
                                src="https://www.youtube.com/embed/IyeQN79W3YA" frameborder="0"></iframe>

                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- TESTIMONIALS  BLOCK
    <section id="testimonials" class="testimonials-block  text-center">

        <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">

                <div class="item">
                    <div class="container quote">
                        <i class="icon icon-twitter2"></i>
                        <h4>It’s just five stars. I will certainly come back and bring my friends with me.</h4>
                        <small>@smagic39</small>
                    </div>
                </div>

                <div class="item">
                    <div class="container quote">
                        <img src="images/customer-photo.jpg" alt="Steve Job" width="60">
                        <h4>I always thought that people used to pay much for quality. But these guys changed my
                            opinion. The quality exceeds the price many times. I recommend it to everybody.</h4>
                        <small>Steve Job</small>
                    </div>
                </div>

                <div class="item">
                    <div class="container quote">
                        <img src="images/customer-photo.jpg" alt="Steve Job" width="60">
                        <h4>Professionally exploit intuitive leadership before cross functional leadership.
                            Interactively syndicate go forward paradigms rather than principle-centered e-commerce.</h4>
                        <small>Steve Job</small>
                    </div>
                </div>

                <div class="item">
                    <div class="container quote">
                        <i class="icon icon-facebook2"></i>
                        <h4>This is a great product. It reveals an individual approach to each customer. I liked the
                            level of the provided service.</h4>
                        <small>Melissa Smith</small>
                    </div>
                </div>

                <div class="item">
                    <div class="container quote">
                        <i class="icon icon-dribbble2"></i>
                        <h4>Professionally exploit intuitive leadership before cross functional leadership.
                            Interactively syndicate go forward paradigms rather than principle-centered e-commerce.</h4>
                        <small>Steve Job</small>
                    </div>
                </div>

                <div class="item active">
                    <div class="container quote">
                        <img src="images/customer-photo.jpg" alt="Steve Job" width="60">
                        <h4>I always thought that people used to pay much for quality. But these guys changed my
                            opinion. The quality exceeds the price many times.</h4>
                        <small>Steve Job</small>
                    </div>
                </div>

            </div> -->
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-testimonials" role="button" data-slide="prev">
                <span class="arrow"></span>
            </a>
            <a class="right carousel-control" href="#carousel-testimonials" role="button" data-slide="next">
                <span class="arrow"></span>
            </a>
        </div>
    </section>
    <!-- FACTS BLOCK
    <section id="facts-block" class="facts-block text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <i class="icon icon-download"></i>

                    <h3 class="timer">9999</h3>
                    <h4>Request</h4>
                </div>
                <div class="col-sm-3">
                    <i class="icon icon-wallet2"></i>

                    <h3 class="timer">9999</h3>
                    <h4>Sales</h4>
                </div>
                <div class="col-sm-3">
                    <i class="icon icon-user-follow"></i>

                    <h3 class="timer">999</h3>
                    <h4>Happy Clients</h4>
                </div>
                <div class="col-sm-3">
                    <i class="icon icon-target2"></i>

                    <h3 class="timer">999</h3>
                    <h4>Server is comming</h4>
                </div>
            </div>
        </div>
    </section> -->
    <!-- CIENTS BLOCK 
    <section id="clients" class="clients-block text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="title">Clients</h2>

                    <p class="descriptions">In our work we try to use only the most modern, convenient and
                        interesting solutions. We want the template you downloaded look unique and new for such a long
                        time as it is possible.</p>
                </div>
            </div>
            <ul class="portfolio-list">
                <li>
                    <a href="./images/clients.jpg" title="Clients'Description"><span>clients 1</span><img src="images/clients.jpg" alt=""></a>
                </li>
                <li>
                    <a href="./images/clients.jpg" title="Clients'Description"><span>clients 2</span><img src="images/clients.jpg" alt=""></a>
                </li>
                <li>
                    <a href="./images/clients.jpg" title="Clients'Description"><span>clients 3</span><img src="images/clients.jpg" alt=""></a>
                </li>
                <li>
                    <a href="./images/clients.jpg" title="Clients'Description"><span>clients 4</span><img src="images/clients.jpg" alt=""></a>
                </li>
                <li>
                    <a href="./images/clients.jpg" title="Clients'Description"><span>clients 5</span><img src="images/clients.jpg" alt=""></a>
                </li>
                <li>
                    <a href="./images/clients.jpg" title="Clients'Description"><span>clients 6</span><img src="images/clients.jpg" alt=""></a>
                </li>
            </ul>
        </div>
    </section> -->
    <!-- TEAM  BLOCK -->
    <section id="team" class="team-block text-center">
        <div class="container">
            <h2 class="title">Our Team</h2>

            <p class="descriptions">Our team consists of people with a wide range of backgrounds, nationalities, and ideologies. We strive for techonological excellence and being honest, straightforward and doing social good.</p>
            <div class="row">
                <div class="col-sm-4 team-item">
                    <div class="img-caption ">
                        <h3 class="title">Jacob Gadikian</h3>
                        <h4 class="position">Co-Founder<br>Strategic Planner, Back End Research Developer</h4>

                        <p>With his unique background in education and high technology, Jake uses his experiences to drive his ambitions. He focuses on projects designed to improve quality-of-life and drive social changes in the realms of technology and education.</p>
                        <ul class="soc-list ">
                            <li><a href="#" target="_blank"><i class="icon icon-twitter2"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icon icon-facebook2"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icon icon-dribbble2"></i></a></li>
                        </ul>
                    </div>
                    <img src="images/team/jake.png"  alt="Team">
                </div>
               
                <div class="col-sm-4 team-item">
                    <div class="img-caption ">
                        <h3 class="title">Paul</h3>
                        <h4 class="position">Co-Founder<br>Operations, Accounting, Front End - Back End Coordination Developer</h4>

                        <p>With a background in Retail Management, Game Development and Computer Science, Paul uses his wide range of skills to keep projects moving forward and organized while maintaining a large focus on having fun and doing social good. </p>
                        <ul class="soc-list ">
                            <li><a href="#" target="_blank"><i class="icon icon-twitter2"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icon icon-facebook2"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icon icon-dribbble2"></i></a></li>
                        </ul>
                    </div>
                    <img src="images/team/paul.png"  alt="Team">
                </div>
                <div class="col-sm-4 team-item">
                    <div class="img-caption ">
                        <h3 class="title">Dung</h3>
                        <h4 class="position">Co-Founder<br> Investor</h4>

                        <p>Having a large portfolio of successful companies in Vietnam, Dung uses his vision to enable and encourage the growth of the technology sectors both locally and abroad.</p>
                        <ul class="soc-list ">
                            <li><a href="#" target="_blank"><i class="icon icon-twitter2"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icon icon-facebook2"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icon icon-dribbble2"></i></a></li>
                        </ul>
                    </div>
                    <img src="images/teams.png"  alt="Team">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 team-item">
                    <div class="img-caption">
                        <h3 class="title">Tranh Manh Hoang</h3>
                        <h4 class="position">Operations, Technician, Hardware Research, E-Commerce</h4>

                        <p>Uniquely utilize end-to-end core competencies through enabled communities.</p>
                        <ul class="soc-list">
                            <li><a href="#" target="_blank"><i class="icon icon-twitter2"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icon icon-facebook2"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icon icon-dribbble2"></i></a></li>
                        </ul>
                    </div>
                    <img src="images/team/hoang.png"  style="height:280px;"alt="Team">
                </div>                
                <div class="col-sm-4 team-item">
                    <div class="img-caption ">
                        <h3 class="title">Linh Trang</h3>
                        <h4 class="position">Translator, Investor Relations, Vietnamese Relations</h4>

                        <p>Uniquely utilize end-to-end core competencies through enabled communities.</p>
                        <ul class="soc-list">
                            <li><a href="#" target="_blank"><i class="icon icon-twitter2"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icon icon-facebook2"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icon icon-dribbble2"></i></a></li>
                        </ul>
                    </div>
                    <img src="images/team/trang.png"  alt="Team">
                </div>
                <div class="col-sm-4 team-item">
                    <div class="img-caption ">

                        <h3 class="title">Pham Ngoc Sinh</h3>
                        <h4 class="position">Front End Design, Front End Developer</h4>

                        <p>Uniquely utilize end-to-end core competencies through enabled communities.</p>
                        <ul class="soc-list">
                            <li><a href="#" target="_blank"><i class="icon icon-twitter2"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icon icon-facebook2"></i></a></li>
                            <li><a href="#" target="_blank"><i class="icon icon-dribbble2"></i></a></li>
                        </ul>
                    </div>
                    <img src="images/team/sinh.png"  alt="Team">
                </div>

           
            </div>
        </div>
    </section>
    <!-- MAP BLOCK -->
    <section id="map" class="map-block">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.770634037845!2d105.81908145078299!3d21.041861592637453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab098269ab4d%3A0x5fb33a512785bf4!2zSG_DoG5nIEhvYSBUaMOhbSwgQsaw4bufaSwgQmEgxJDDrG5oLCBIw6AgTuG7mWksIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1447146990343"
                                class="col-md-12 col-lg-12 " frameborder="0" style="border:0"
                                allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-2">
                    <h2>Contact Us</h2>
                    <h4 class="sub-title">We'll answer you as soon as possible.</h4>
                    <ul class="data-list">
                        <li><i class="icon icon-pointer"></i>695 Hoang Hoa Tham<br>Ha Noi<br>Viet Nam</li>
                        <li><i class="icon icon-call-in"></i>111-222-333<br>444-555-666</li>
                        <li><i class="icon icon-envelope-open"></i>support@klouds.org</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    {{template "footer"}}


<!-- MODALS BEGIN-->
<div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 class="modal-title">&nbsp;</h3>
        </div>
    </div>
</div>
<!-- MODALS END-->
<a id="to-top" style="bottom: 30px;"><span class="icon icon-arrow-up"></span></a>