<!DOCTYPE html>
<html>
{{template "header"}}
<body data-spy="scroll" data-target=".navMenuCollapse">

<div id="page-customer">

    {{template "menu"}}

    <section id="facts-block" class="facts-block text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <i class="icon icon-download"></i>

                    <h3 class="timer">9999</h3>
                    <h4>Request</h4>
                </div>
                <div class="col-sm-3">
                    <i class="icon icon-wallet2"></i>

                    <h3 class="timer">9999</h3>
                    <h4>Sales</h4>
                </div>
                <div class="col-sm-3">
                    <i class="icon icon-user-follow"></i>

                    <h3 class="timer">999</h3>
                    <h4>Happy Clients</h4>
                </div>
                <div class="col-sm-3">
                    <i class="icon icon-target2"></i>

                    <h3 class="timer">999</h3>
                    <h4>Server is comming</h4>
                </div>
            </div>
        </div>
    </section>
    <section id="clients" class="clients-block text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="title">Clients</h2>

                    <p class="descriptions">In our work we try to use only the most modern, convenient and
                        interesting solutions. We want the template you downloaded look unique and new for such a long
                        time as it is possible.</p>
                </div>
            </div>
            <ul class="portfolio-list">
                <li>
                    <a href="/images/clients.jpg" title="About  Client"><span>clients 1</span><img src="/images/clients.jpg" alt=""></a>
                </li>
                <li>
                    <a href="/images/clients.jpg" title="About  Client"><span>clients 2</span><img src="/images/clients.jpg" alt=""></a>
                </li>
                <li>
                    <a href="/images/clients.jpg" title="About  Client"><span>clients 3</span><img src="/images/clients.jpg" alt=""></a>
                </li>
                <li>
                    <a href="/images/clients.jpg" title="About  Client"><span>clients 4</span><img src="/images/clients.jpg" alt=""></a>
                </li>
                <li>
                    <a href="/images/clients.jpg" title="About  Client"><span>clients 5</span><img src="/images/clients.jpg" alt=""></a>
                </li>
                <li>
                    <a href="/images/clients.jpg" title="About  Client"><span>clients 6</span><img src="/images/clients.jpg" alt=""></a>
                </li>
            </ul>
        </div>
    </section>


    {{template "footer"}}

</div>
{{template "script".}}
</body>
</html>