<!-- FOOTER  -->
<footer id="footer" class="dark-bg bg-color1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-4 text-right">
                <div class="row">

                    <div class="col-md-3">
                        <h4>Company</h4>
                        <ul class="links-list">
                            <li><a href="#" target="_blank">Header</a></li>
                            <li><a href="#" target="_blank">Description</a></li>
                            <li><a href="#" target="_blank">Client</a></li>
                            <li><a href="#" target="_blank">Team</a></li>
                            <li><a href="#" target="_blank">Patners</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Products</h4>
                        <ul class="links-list">
                            <li><a href="#" target="_blank">Server</a></li>
                            <li><a href="#" target="_blank">Apps</a></li>
                            <li><a href="#" target="_blank">Hardware</a></li>
                            <li><a href="#" target="_blank">Infracture</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Personal</h4>
                        <ul class="links-list">
                            <li><a href="#" target="_blank">Register</a></li>
                            <li><a href="#" target="_blank">Login</a></li>
                            <li><a href="#" target="_blank">Contact Us</a></li>
                            <li><a href="#" target="_blank">Terms of Use</a></li>
                            <li><a href="#" target="_blank">Privacy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Follow Us</h4>
                        <ul class="links-list">
                            <li><a href="#" target="_blank">Facebook</a></li>
                            <li><a href="#" target="_blank">Twitter</a></li>
                            <li><a href="#" target="_blank">Google Plus</a></li>
                            <li><a href="#" target="_blank">Dribbble</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-pull-8">
                <img class="logo" src="/images/logo.png" alt="">
                <p>Speed up everything</p>
                <p class="">© 2015 Copyright by <a href="http://klouds.org/" target="_blank">klouds.org</a></p>
                <p>
                <ul class="list-inline">
                    <li><a href="/policy/terms">Terms of Service</a></li>
                    <li><a href="/policy/privacy">Privacy</a></li>
                </ul></p>
            </div>
        </div>
    </div>
</footer>