<!DOCTYPE html>
<html>
{{template "header"}}
<body data-spy="scroll" data-target=".navMenuCollapse">

<div id="page">

   {{template "menu" .}}
    <!-- INTRO SECTION -->
    {{template "content"}}

</div>
{{template "script".}}
</body>
</html>