<!DOCTYPE html>
<html>
{{template "header"}}
<body data-spy="scroll" data-target=".navMenuCollapse">

<div id="page-pricing">

    {{template "menu"}}
    <section id="pricing" class="pricing-block">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h2>Features</h2>
                    <h4 class="sub-title">More features, More Fun</h4>
                    <p class="sep-bottom desc-text">Appropriately productivate impactful initiatives with client-based best practices. Intrinsicly disintermediate client-focused relationships and virtual information..</p>
                </div>
                <div class="col-md-8 col-md-offset-1">
                    <div class="container">
                        <h2 class="title">Choose your plan</h2>
                        <p class="sep-bottom">In our work we try to use only the most modern, convenient and interesting solutions.<br> We want the template you downloaded look unique and new for such a long time as it is possible.</p>
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="pricing-table">
                                    <h4>Trial</h4>
                                    <span style="background-image:url(/images/pack-bg.png)">Free</span>
                                    <p><b>* 15 Days.</b> Energistically generate market-driven initiatives through cross-media portals.</p>
                                    <a href="#" target="_blank" class="btn btn-primary">Try</a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="pricing-table">
                                    <div class="best-choice"><i class="icon icon-badge"></i>Best Choice</div>
                                    <h4>Standard</h4>
                                    <span style="background-image:url(/images/pack-bg.png)">$0.99<small> / month</small> </span>
                                    <ul class="list-unstyled">
                                        <li><b>Fully</b> SDD</li>
                                        <li><b>Safety</b> sdd</li>
                                        <li class="not"><b>99+</b> uptime</li>
                                        <li class="not"><b>99</b> uptime</li>
                                        <li class="not"><b>99.99%</b> Uptime</li>
                                    </ul>
                                    <a href="#" target="_blank" class="btn btn-primary">Buy</a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="pricing-table">

                                    <h4>Professional</h4>
                                    <span style="background-image:url(/images/pack-bg.png)">$5.99<small> / month</small> </span>
                                    <ul class="list-unstyled">
                                        <li><b>Fully</b> SDD</li>
                                        <li><b>Safety</b> sdd</li>
                                        <li><b>99+</b> uptime</li>
                                        <li><b>99</b> uptime</li>
                                        <li><b>99.99%</b> Uptime</li>
                                    </ul>
                                    <a href="#" target="_blank" class="btn btn-primary">Buy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{template "footer"}}

</div>
{{template "script".}}
</body>
</html>