{{template "header" .}}
{{template "user/usernav" .}}
<div class="page-app">
    <!-- COLOR OVER IMAGE -->
    <!-- /END COLOR OVERLAY -->
    <!-- /END HEADER -->
    <main class="user-main-content">
        <div class="container">
            <div class="row">
                <h1 class="page-header">Application List <small>Look at all the things!</small> </h1>

                {{range $index, $element := .}}
                {{if eq (mod $index 4) 0}}
                    {{end}}
                    <div class="col-md-4 portfolio-item">
                    <table style="width:100%">
	                    <tr>
							<td>
    							{{.Name}}<br>
                                {{if eq .IsRunning true}}
    	                        <a href="http://{{.AccessUrl}}">Access Here!</a><br>
                                {{else}}
                                <a href="#">Application Still Launching!</a><br>
                                {{end}}
                                <br>
                                <a href="/user/apps/deleteapp/{{.Name}}"><img src="/images/trashicon.png" style="width:25px; height:25px;" alt="trash" /></a>
	                        </td>
							<td style="text-align:right">
                                <img style="width:100px; height:100px;" src="{{.Logo}}" alt="Logo not found"/>
                            </td>
						</tr>
					</table>
                    </div>
                    {{if eq (mod $index 4) 3}}
                {{end}}


                {{end}}
        </div>
        <!-- .content-wrapper -->
    </main>
    <!-- .user-main-content -->
</div>
{{template "footer"}}
