<nav class="user-site-nav color-bg">
    <ul>
        <li class="user-label">Welcome</li>
        <li><a href="/"><i class="fa  fa-user "></i>Profile</a></li>
        <li><a href="/user/apps"><i class=" fa fa-folder"></i>Apps</a></li>
        <li><a href="/user/payments"><i class="fa fa-dollar"></i>Payment</a></li>
        <li><a href="/user/billing"><i class="fa fa-cart-arrow-down"></i>Billing</a></li>
        <li><a href="/user/history"><i class="fa fa-book"></i>History</a></li>
        <li class="has-children comments">
            <a href="#"><i class="fa  fa-wechat "></i>Comments</a>
            <ul>
                <li><a href="#">All Comments</a></li>
                <li><a href="#">Edit Comment</a></li>
                <li><a href="#">Delete Comment</a></li>
            </ul>
        </li>
    </ul>
</nav>