    {{template "header"}}

    {{template "menu" (index . 0) }}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">User List
                    <small></small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
         
        {{range $index, $element := .}}
            {{if eq (mod $index 4) 0}}
                <div class="row">
            {{end}}
                    <div class="col-md-3 portfolio-item">
                        {{.Id}}<br>
                        <a href="/admin/users/{{.Username}}"> {{.Username}} </a><br>
                        {{.Email}}<br>
                        {{.FirstName}} {{.Surname}} <br>
                        Active: {{.IsEnabled}}
                    </div>

            {{if eq (mod $index 4) 3}}
                </div>
            {{end}}


        {{end}}
        <!-- /.row -->

  
    </div>
      {{template "footer"}}
    <!-- /.container -->
